<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script language="JavaScript">
  function setCookie(name, value, expiredays) {
      var date = new Date();
      date.setDate(date.getDate() + expiredays);
      document.cookie = escape(name) + "=" + escape(value) + "; expires=" + date.toUTCString();
  }
  function closePopup() {
      if (document.getElementById("check").value) {
          setCookie("popupYN", "N", 1);
          self.close();
      }
  }
</script>
</head>
<body>
  <a href=""><img src="https://cdn.pixabay.com/photo/2018/01/04/09/39/literature-3060241_960_720.jpg" width="350" height="250"></a><br>
  <input type="checkbox" id="check" onclick="closePopup();">
  <fontsize=3> <b>하루에 한번만 보기</b> </font>
</body>
</html>