
.clubList{
    min-height: 500px;
    background-color: white;
    
}
.bookClub_container{
	/* display: flex;
	flex-direction: row; */
}
.btn{

    border: none;
  
    color: white;
  
    padding: 10px 20px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 15px;
  
    margin: 4px 2px;
  
    cursor: pointer;
    font-weight: bolder;
  }
.clubSort{
    text-align: right;
    /* background-color: gray; */
    padding-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.makeclub button{
    /* background-color: honeydew; */
    margin-bottom: 50px;
    float: right;
    margin-right: 20px;
    background-color: dodgerblue;
}
.makeclub div{
    clear: both;
}
.bookClub{
    width: 250px;
    height: 350px;
    /* background-color: gold; */
    /* display: flex; */
    display: inline-block;
    margin-left: 7%;
    margin-bottom: 10%;
    position: relative;
}
.bookClubImg {
    width: 250px;
    height: 350px;
    position: absolute;
}
.bookClubImg img {
    width: 250px;
    height: 350px;
}

.bookClubInfo{
    position: absolute;
    /* left:0px; top: -350px; */
    /* background-color: violet; */
    display: none;
    color: white;
}

.clubTitle{
   /*  display: flex;
    justify-content: center; */
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1%;

}
.bookClubInfo table{
    margin-left: 15px;
}
.bookClubInfo table tbody tr td:nth-child(1){
    /* background-color: dodgerblue; */
    padding-right: 10px;
    border-right: white 3px solid;
}
.bookClubInfo table tbody tr td:nth-child(2){
    /* background-color: dodgerblue; */
    padding-left: 15px;
    padding-right: 15px;
}
.bookClubInfo img{
    width: 20px;
    height: 20px;
}
.clubMember td{
    padding-top: 50px;
}



.clubCount{
    margin-left: 25%;
}
#joinBtn{
    margin-left: 15%;
}
#cancelBtn{
    margin-left: 5%;
}
.clubCount{
    position: absolute;
    left:0px; top: 370px;
    /* background-color: turquoise; */
}
.bookClubBtn{
    position: absolute;
    left:0px; top: 410px;
    /* background-color: tomato; */
}
.joinBtn{
    position: relative;
    left:35px;
    background-color: deeppink;
}
.cancelBtn{
    position: relative;
    left:45px;
    background-color: darkorange;
}
.deleteClubBtn{
	position: relative;
    left:40px;
    background-color: black;
    color:red;
}
  
.pageBar{
	display: flex;
	justify-content: center;
	margin-top : 30px;
	padding-bottom: 100px;
	/* background-color: blue; */
}
.pageBar .clickPage{
	color:blue;
	font-weight: bold;
}