section {
    padding-top: 5%;
}
hr{
    margin-top: 100px;
    margin-bottom: 50px;
}
#bookDetail-container{
    width: 70%;
    min-height: 800px;
    margin-left: 15%;
}
#bookInfoDiv{
    /* width: 1100px;
    height: 800px;
     margin-left: 15%;  */
}
#bookImg{
    width: 500px;
    height: 750px;
    /* background-color: wheat; */
    float: left;
}
#bookImg img{
    width: 500px;
    height: 750px;
}
#bookText{
    height: 700px;
    padding-top: 5%;
    padding-left: 50%;
    background-color: white;
}
.bookContent{
    min-height: 300px;
    /* background-color: brown; */
}



.starR1{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR2{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}

.starAvg{
    margin-left: 40%;
    display: inline-block;
    /* background-color: yellow; */
    text-align: center;
    font-size: 30px;
}
.starAvg div{
    margin: 30px;
}

.starDistri-container{
    /* background-color: yellow; */
    margin-top: 20px;
}
.star{
    /* background-color: violet; */
    display: block;
    margin-left: 30%;
    font-size: 20px;
}
.star div{
    display: inline-block;
}

#bookDetail-container{
    font-size: 18px;
}
#bookText td:first-child{
    /* background-color: turquoise; */
    /* border: tomato 1px solid; */
    padding-right: 50px;
    padding-bottom: 50px;
    /* font-weight: bolder; */
}
#bookText tr:last-child td{
    /* background-color: orchid; */
    padding-top: 100px;
    padding-bottom: 0%;
}
.starRev{
    /* display: none; */   
}
.starRevScore{
    color: navy;
    font-weight: bolder;
}
.btn{

  border: none;

  color: white;

  padding: 15px 30px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 17px;

  margin: 4px 2px;

  cursor: pointer;
  font-weight: bolder;
}
#buyBtn{
    background-color: orangered;
}
#basketBtn{
    background-color: orange;
}
#rentBtn{
    margin-left: 50px;
    color: orangered;
    background-color: rgba(0, 0, 0, 0);
    border: orangered 3px solid;

}
.bookContent{
    margin-top: 5%;
    /* background-color: paleturquoise; */
}
.bookContent .bookContentTitle{
    font-size: 32px;
    float: left;
    width: 20%;
    /* background-color: orchid; */
}
.bookContent .bookContentText{
    float: left;
    width: 70%;
    /* background-color: palegoldenrod; */

}
#bookDetail-container .divHr{  
    /* background-color: red; */
    /* height: 20px; */
    margin-top: 100px;
    margin-left: 20%;
    width: 70%;
}
.buyerTitle{
    margin-left: 22%;
    margin-bottom: 50px;
    display: inline-block;
    /* background-color: yellow; */
    text-align: center;
    font-size: 33px;
}
.buyer div{
    display: inline-block;
    /* background-color: pink; */
}

.buyerStatement{
    margin-left: 22%;
}
.buyerStatement table td{
    /* border: purple 2px solid; */
    text-align: center;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 20px;
}
.buyerStatement .buyerFText{
    text-align: right;
}
.buyerStatement .buyerMText{
    text-align: left;
}
.buyerStatement .buyerAgeText{
    font-weight: bolder;
}

.makeBookClub{
    margin-left: 75%;
    margin-bottom: 50px;
}
.makeBookClubBtn{
    background-color: purple;
}

.starR{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    cursor: pointer;
  }
  .starR.on{background-position:0 0;}


.bookComments-container{
    margin-top: 5%;
    min-height: 300px;
    /* background-color: paleturquoise; */
}
.bookComments-container .bookCommentsTitle{
    font-size: 32px;
    float: left;
    width: 20%;
    /* background-color: orchid; */
}
.bookComments-container .bookComments{
    float: left;
    width: 70%;
    /* background-color: palegoldenrod; */

}
.bookComments-container .starRevReview{
    margin-bottom: 20px;
}
.bookComments-container .starRevPer{
    margin-bottom: 20px;
}
.writeComments div{
    display: inline-block;
    /* background-color: royalblue; */
}
.writeComments td{
    /* border: salmon 1px solid; */
}
.writeComments td:last-child{
    vertical-align: bottom;
}
.writeComments .writeBtn{
    background-color: blue;
    font-size: 16px;
    padding: 15px 30px;
    
     
}
.writeComments {
	margin-bottom: 10%;
}
.writeComments hr{
    margin-top: 100px;
    margin-left: 0%;
    width: 100%;
    /* background-color: red; */
    /* height: 20px; */
}

.comment-area{
	display: flex;
	flex-direction: column;
	/* background-color: red; */
}
.commentHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #FAEBFF;
	border-radius: 2%;
	align-items: center;
}
.commentBody{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10%;
	padding-top: 3%;
}
.commentEdit{
	display: flex;
	justify-content: flex-end;
}
.editBtn{
	background-color: navy;
}
.deleteBtn{
	background-color: red;
}
.editEndBtn{
	background-color: yellow;
}

