section{
    width: 99%;
    margin-left: 0.5%;    
    margin-bottom: 10%;
    padding-top: 5%;
    background-color: white;
}
.btn{

    border: none;
  
    color: white;
  
    padding: 10px 20px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 15px;
  
    margin: 4px 2px;
  
    cursor: pointer;
    font-weight: bolder;
  }
.makeWording button{
    /* background-color: honeydew; */
    margin-bottom: 10px;
    float: right;
    margin-right: 20px;
    background-color: #8000ff;
}
#wordingRanking{
    /* min-height: 400px; */
    /* border: 1px red solid; */
    /* background-color: seagreen;  */
    /* padding-left: 3%; */    
    /* margin-bottom: 5%; */
    display: flex;
    flex-direction: column;
    
}
.ranktitle{
    font-size: 20px;
    /* margin-left: 44%; */
    color: black;
    /* background-color: sandybrown; */
    display: flex;
    justify-content: center;
}
#wordingRanking hr{
    /* height: 10px; */
    /* background-color: sandybrown; */
    /* margin-left: 7%; */
    margin-top: 15px;
    margin-bottom: 50px;
    width: 80%;
   /*  float: left; */
   display: flex;
   justify-content: center;
}
.rankedWording{
    /* margin-right: 30px; */
    /* margin-left: 100px; */
    /* display: inline-block; */
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.rankImg {
	display: flex;
	justify-content: space-around;
	/* background-color: red; */
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.rankText{
    width: 70px;
    height: 60px;
    /* color:white; */
    font-size: 18px;
}
/* .rankText:first-child{
    margin-left: 14.5%;
    margin-right: 25%;
}
.rankText:last-child{
    margin-left: 24.5%;
} */

#wordingList{
    
}
.wordingArticle{
    width: 300px;
    height: 300px;
    background-color: white;
    display: inline-block;
    margin: 35px;
    border-radius: 5%;
    /* border: black 1px solid; */
}

.wordingArticleImg{
    width: 300px;
    height: 200px;
    padding: 0px;
    /* background-color: yellowgreen; */
    /* display: inline-block; */
}

.wordingArticleText{
    width: 300px;
    height: 100px;
    /* background-color: cadetblue; */
    float: left;
}

.wordingArticleTitle{
    width: 300px;
    height: 30px;
    /* background-color: rgb(126, 54, 54); */
    font-size: 15px;
    text-align: center;
    padding-top: 5%;
    font-weight: bolder;
}

.wordingArticleWriterId{
    /* background-color: springgreen; */
    float: right;
    padding-top: 8%;
}
.wordingArticleWriterPic{
    width: 50px;
    height: 50px;
    /* background-color: coral; */
    float: right;
}

.wordingArticleWriterPic img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.wordingArticleImg img{
    float: left;
    width:300px;
    height:200px;
    border-radius: 5% 5% 5% 5%;
}
.hr2{
    /* height: 10px; */
    width: 95%;
}

.wordingArticleImg{
	position: relative;
	overflow: hidden;
}
.img-text{
	padding: 2.5px 5px;
	/* background-color: yellow; */
	background-color: rgba( 255, 255, 255, 0);
	color: black;
	font-size:25px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}
.wordingArticle{
	cursor:pointer
}
.likeCnt{
	float:left;
	/* background-color: red; */
	padding-top:20px;
}
.pageBar{
	display: flex;
	justify-content: center;
	margin-top : 30px;
	padding-bottom: 100px;
	/* background-color: blue; */
}
.pageBar .clickPage{
	color:blue;
	font-weight: bold;
}