section{
    width: 99%;
    margin-left: 0.5%;    
    padding-top: 5%;
    background-color: white;
    /* color: white; */
}
.wordingDetail-container{
    width: 70%;
    /* background-color: cyan; */
    margin-left: 15%;
}
#wordingDetail{
    min-height: 500px;
    width: 600px;
    margin: 5px;
    margin-left: 22%;
    background-color: white;
}

.wordingDetailImg{
    width: 600px;
    height: 400px;
    /* background-color: yellowgreen; */
    margin-left: 0%;
    position: relative;
	overflow: hidden;
}
.wordingDetailImg img {
    width: 600px;
    height: 400px;
    border-radius: 5%;
}
.img-text{
	padding: 5px 10px;
	/* background-color: yellow; */
	background-color: rgba( 255, 255, 255, 0);
	color: black;
	font-size:50px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}


.wordingDetailTitle{
    /* margin-left: 60%; */
    font-size: 30px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bolder;
    margin-bottom: 40px;
    /* color: white; */
    /* background-color: lightgray; */
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.wordingDetailWriter{
    float: right;
    padding-top: 10%;
    /* color: white; */
}
.wordingDetailWriterPic {
    width: 50px;
    height: 50px;
    padding-top: 5%;
    /* background-color: coral; */
    float: right;
}
.wordingDetailWriterPic img{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.wordingDetail2{
	/* margin-top: 30%; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.wordingViewCnt{
/* 	display: flex;
	justify-content: flex-start; */
}
.editDiv{
	margin-left:50px;
	margin-top: 30%;
	display: flex;
	justify-content: center;
}
.editDiv button{
	background-color: navy;
}
.wordingDate{
	/* float: right; */
/* 	display: flex;
	justify-content: flex-end; */
	/* background-color: red; */
}


#wordingRefer{
    height: 100px;
    /* background-color: blueviolet; */
}


.referBook{

}

.wordingReferHr{
    /* margin-top: 30%; */
    margin-top: 2%
}

#wordingLike{
    /* height: 100px;*/
    /* width: 100px; */
    /* background-color:white; */
    /* margin-left: 45%; */
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    
}
.likeImg{
	display: flex;
    justify-content: center;
}
.likeImg img{
    height: 60px;
    width: 60px;
    /* background-color: coral; */ 
    /* margin-left: 10%; */
    cursor: pointer;
}
.likeCnt{
    /* margin-top: 10px;*/
    /* margin-left: 26%; */
    display: flex;
    justify-content: center;
    color:#DB0000;
}


hr{
    margin-top: 50px;
    margin-bottom: 50px;
}
.wordingReferTitle{
    font-size: 20px;
    float: left;
    height: 60px;
    /* width: 20%; */
    padding-top: 40px;
    padding-right: 10px;
    /* display: inline-block; */
    border-style: solid;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0) rgba(197, 191, 191, 0.733) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);

}

.referBookImg{
    height: 100px;
    width: 80px;
    float: left;
    margin-left: 15px;
    background-color: lightsalmon;
}
.referBookImg img{
    height: 100px;
    width: 80px;
}
.referBookTitle{
    /* float: left; */
    /* background-color: gray; */
    /* clear: both; */
    padding-top: 70px;
    font-weight: bold;
}
.referBookWriter{
    /* background-color: green; */
    font-weight: bold;
}

.wordingDetailComments{
    margin-top: 5%;
    margin-bottom: 20%;
    min-height: 300px;
    /* background-color: paleturquoise; */
}
.wordingDetailComments .CommentsTitle{
    font-size: 25px;
    float: left;
    width: 20%;
    /* background-color: orchid; */
}
.wordingDetailComments .Comments{
    float: left;
    width: 70%;
    /* background-color: palegoldenrod; */

}
.writeComments{
	margin-bottom: 10%;
}
.writeComments div{
    display: inline-block;
    /* background-color: royalblue; */
}
.writeComments td{
    /* border: salmon 1px solid; */
}
.writeComments td:last-child{
    vertical-align: bottom;
}
.btn{

    border: none;
  
    color: white;
  
    padding: 15px 30px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 25px;
  
    margin: 4px 2px;
  
    cursor: pointer;
    font-weight: bolder;
  }
.writeComments .writeComBtn{
    background-color: blue;
    font-size: 15px;
    
}

.writeComments hr{
    margin-top: 100px;
    margin-left: 0%;
    width: 100%;
    /* background-color: red; */
    /* height: 20px; */
}

.Comments{
	font-size: 16px;
}
.level1Comment{
	display: flex;
	flex-direction: column;
	
}
.commentHeader{
	background-color: #EAEAEA;
	height:35px;
	border-radius: 3%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
}
.commentRight {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.replyBtn{
	display:none;
	padding: 5px 8px;
	font-size: 13px;
	border: none;
    color: white;
  	background-color:blue;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
}
.commentContent{
	padding-top: 10px;
	padding-bottom: 35px;
}
.reply{
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}
.replyWriteBtn{
	background-color: navy;
	font-size: 15px;
}
.level2Comment{
	margin-left: 15%;
}
